language: python
dist: trusty
python:
  - "2.7"
  - "3.5"
  - "3.6"
services:
  docker
install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda install -c conda-forge octave pip
  - pip install .
  - make docker
script:
  - make test
  - python -m octave_kernel install --user
