include *.txt
include *.rst
include Makefile
recursive-include docs *.rst
recursive-include docs *.png
recursive-include docs *.py
recursive-include oct2py *.m
recursive-include example *.m
recursive-include example *.py
recursive-include example *.ipynb
recursive-include numpydoc *.py
recursive-include licenses *.txt
prune .git
prune docs/build
prune dist
prune build
