include *.txt
include *.rst
include *.py
include Makefile
include octave_kernel/kernel.json
recursive-include octave_kernel *.m
recursive-include octave_kernel *.png
prune .git
prune docs/build
prune dist
prune build
