[build-system]
requires = ["hatchling >=1.5"]
build-backend = "hatchling.build"

[project]
name = "octave_kernel"
description = "'A Jupyter kernel for Octave.'"
license = {file = "LICENSE.txt"}
authors = [{name = "'Steven Silvester'", email = "steven.silvester@ieee.org"}]
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering",
    "Topic :: Software Development",
    "Topic :: System :: Shells",
]
urls = {Homepage = "http://github.com/Calysto/octave_kernel"}
requires-python = ">=3.10"
dependencies = [
    "metakernel >=0.24.0",
    "jupyter_client >=4.3.0",
    "ipykernel",
]
dynamic = ["version"]

[project.readme]
file = "README.rst"
content-type = "text/x-rst"

[project.optional-dependencies]
test = ["pytest", "nbconvert", "jupyter_kernel_test"]

# Used to call hatch_build.py
[tool.hatch.build.hooks.custom]

[tool.hatch.build.targets.wheel.shared-data]
"jupyter-data" = "share/jupyter/kernels/octave"

[tool.hatch.build.targets.sdist]
artifacts = ["jupyter-data"]
include = [
    "/jupyter-data",
    "/octave_kernel",
    "/*.md",
    "/*.ipynb",
    "/*.py"
]

[tool.hatch.version]
path = "octave_kernel/_version.py"
validate-bump = false

[tool.interrogate]
ignore-init-module=true
ignore-init-method = true
ignore-private=true
ignore-semiprivate=true
ignore-property-decorators=true
ignore-nested-functions=true
ignore-nested-classes=true
fail-under=100
exclude = ["tests", "docs"]

[tool.pydoclint]
style = 'numpy'
arg-type-hints-in-signature = false
check-return-types = false
allow-init-docstring = true
skip-checking-raises = true
native-mode-noqa-location = "docstring"

[tool.check-wheel-contents]
ignore = ["W002"]
